

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>无权限</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/public/admin/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/public/admin/layuiadmin/style/admin.css" media="all">
  <style>
    html,body,.layui-fluid{
      height: 100%;
      overflow: hidden;
    }
    .abnor{
      position: absolute;
      top: 36%;
      text-align: center;
      width: 100%;
      height: 100%;
    }
    .abnor-icon{
      margin: 0 auto;
      display: block;
    }
    .abnor-text{
      display: block;
      padding-top: 20px;
      color: #bbbbbb;
    }
  </style>
</head>
<body>

  <div class="layui-fluid">
    <div class="abnor">
      <img class="abnor-icon" width="183" height="132" src="/public/admin/layuiadmin/images/icon-auth.png">
      <span class="abnor-text">暂无权限访问</span>
    </div>
  </div>
  
  <script src="/public/admin/layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '/public/admin/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
</body>
</html>