<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>auth</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/public/admin/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/public/admin/layuiadmin/style/admin.css" media="all">
	<style>
		.layui-form-item{
			margin-bottom: 8px;
		}
	</style>
</head>

<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header">
				<div class="layui-form-item">
					<div class="layui-inline">
						角色授权
					</div>

				</div>
			</div>
			<div class="layui-card-body">
				<div class=" layui-form">
					<table class="layui-table" lay-size="sm">
						<tbody>
							<%for(var i=0;i<accessList.length;i++){%>
								<tr>
									<td>
										<div class="layui-form-item">
											<input type="checkbox" name="node[]" value="<%=accessList[i]._id%>" <%if(roleAccessList.indexOf(accessList[i]._id.toString())>-1){%>checked=''<%}%>  lay-skin="primary" title="【<%-helper.typeFormat(accessList[i].type)%>】<%=accessList[i].name%>">
										</div>
									</td>
								</tr>
								<%if(accessList[i].items.length){%>
								<tr>
									<td>
										<div class="layui-form-item" style="padding-left:50px;">
											<%for(var j=0;j<accessList[i].items.length;j++){%>
											<input type="checkbox" name="node[]"  value="<%=accessList[i].items[j]._id%>" <%if(roleAccessList.indexOf(accessList[i].items[j]._id.toString())>-1){%>checked=''<%}%> lay-skin="primary" title="【<%-helper.typeFormat(accessList[i].items[j].type)%>】<%=accessList[i].items[j].name%> <%-roleAccessList.indexOf(accessList[i].items[j]._id.toString())%>">
											<%}%>
										</div>

									</td>
								</tr>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<div class="layui-form-item" style="padding-top: 10px;">
						<input type="hidden" name="_id" value="<%=_id%>">
						<input type="hidden" name="_csrf" value="<%=csrf%>">
							<button class="layui-btn" lay-submit lay-filter="authSubmit">立即授权</button>
							<button class="layui-btn  layui-btn-primary backBtn">返回上一页</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="/public/admin/layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base: '/public/admin/layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'form'], function () {
			var $ = layui.$, form = layui.form;
			$('.backBtn').on('click', function () {
				history.go(-1)
			})
			form.on('submit(authSubmit)', function(data){
				// layer.alert(JSON.stringify(data.field), {
				// 	title: '最终的提交信息'
				// })
				$.ajax({
					url:'/admin/role/auth',
					method:'POST',
					data:data.field,
					dataType:'json',
					success:function(res){
						if(res.success){
							layer.msg(res.success_msg, {
								time: 500
							},function () { 
								window.location.href="/admin/role"
							 });
						}
					}
				})
				return false;
			});	

		});
	</script>
</body>

</html>